Repository astrandb/miele, pull requests merged in 2023-04, with the labels that each got.

#245 Enable translation of entity names
  .prettierrc
  custom_components/miele/binary_sensor.py
  custom_components/miele/button.py
  custom_components/miele/climate.py
  custom_components/miele/fan.py
  custom_components/miele/light.py
  custom_components/miele/number.py
  custom_components/miele/sensor.py
  custom_components/miele/strings.json
  custom_components/miele/switch.py
  custom_components/miele/translations/en.json
  custom_components/miele/translations/sv.json
  custom_components/miele/vacuum.py
Labels: translation

#251 Fix regresssion in light module
  custom_components/miele/light.py
Labels: bugfix

#249 Feature/italian sensor names
  custom_components/miele/const.py
  custom_components/miele/strings.json
  custom_components/miele/translations/de.json
  custom_components/miele/translations/en.json
  custom_components/miele/translations/fr.json
  custom_components/miele/translations/hu.json
  custom_components/miele/translations/it.json
  custom_components/miele/translations/nb.json
  custom_components/miele/translations/nl.json
  custom_components/miele/translations/sv.json
Labels: enhancement, translation

#252 Update devcontainer with pylint and i18n editor
  .devcontainer/devcontainer.json
  .prettierrc
Labels: maintenance

#253 Feature/dutch sensor names
  custom_components/miele/translations/nl.json
Labels: translation

#254 Update de.json
  custom_components/miele/translations/de.json
Labels: translation

#258 Remove reference to _attr_name
  custom_components/miele/button.py
Labels: bugfix

#256 Updated German translation, fixed typos
  custom_components/miele/const.py
  custom_components/miele/strings.json
  custom_components/miele/translations/de.json
  custom_components/miele/translations/en.json
  custom_components/miele/translations/hu.json
  custom_components/miele/translations/it.json
  custom_components/miele/translations/nb.json
  custom_components/miele/translations/nl.json
  custom_components/miele/translations/sv.json
Labels: translation

#263 Update hungarian
  custom_components/miele/translations/hu.json
Labels: translation
