Repository astrandb/miele, pull requests merged in 2023-01, with the labels that each got.

#195 fix elapsed time sensor
  custom_components/miele/const.py
  custom_components/miele/sensor.py
Labels: enhancement

#202 Update for translation_key and migrate sensor.xx.json into xx.json
  custom_components/miele/sensor.py
  custom_components/miele/strings.json
  custom_components/miele/system_health.py
  custom_components/miele/translations/de.json
  custom_components/miele/translations/en.json
  custom_components/miele/translations/it.json
  custom_components/miele/translations/nb.json
  custom_components/miele/translations/nl.json
  custom_components/miele/translations/sensor.de.json
  custom_components/miele/translations/sensor.en.json
  custom_components/miele/translations/sensor.it.json
  custom_components/miele/translations/sensor.nb.json
  custom_components/miele/translations/sensor.nl.json
  custom_components/miele/translations/sensor.sv.json
  custom_components/miele/translations/sv.json
Labels: translation, dependency

#207 Corrections in en.json and strings.json
  custom_components/miele/strings.json
  custom_components/miele/translations/en.json
Labels: translation

#216 Require HA 2023.1
  hacs.json
Labels: dependency

#215 Add French translations
  custom_components/miele/translations/fr.json
Labels: translation

#211 Expose device info as attributes on status sensor
  custom_components/miele/__init__.py
  custom_components/miele/binary_sensor.py
  custom_components/miele/button.py
  custom_components/miele/climate.py
  custom_components/miele/const.py
  custom_components/miele/fan.py
  custom_components/miele/light.py
  custom_components/miele/number.py
  custom_components/miele/sensor.py
  custom_components/miele/switch.py
  custom_components/miele/vacuum.py
Labels: enhancement, code quality
